.container {
  width: 300px;
  height: 350px;
  -webkit-flex-direction: column;
  display: flex;
  float: left;
  flex-direction: column;
  line-height: 0;
}

.slider {
  display: flex;
  cursor: pointer;
  width: 300px;
  height: 200px;
}

.slider img {
  width: 300px;
  height: 200px;
}

.item img {
  height: 260px;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  margin-right: 25px;
  -webkit-flex-direction: column;
}

.cajaunoboton button {
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: black;
  background-color: lightgray;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}

.containerdos {
  width: 300px;
  height: 350px;
  flex-direction: column;
  line-height: 0;
}

.sliderdos {
  display: flex;
  cursor: pointer;
  width: 300px;
  height: 200px;
}

.sliderdos img {
  width: 300px;
  height: 200px;
}

.itemdos {
  margin-right: 25px;
}

.itemdos img {
  height: 260px;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: column;
  padding-top: 35px;
}

.cajaboton button {
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: black;
  background-color: lightgray;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}

.subtitulo {
  text-align: center;
  padding-left: 650px;
  line-height: 0;
  flex-direction: column;
}

.section__input {
  cursor: pointer;
  border: gray 5px solid;
  border-radius: 20px;
  text-align: center;
  margin-top: 10px;
}
